<div class="faq_box">
  <div class="faq_letter">Q:</div><textarea class="faqs_box single_line" rows="1"></textarea><button type="button" class="btn paperclip"></button>
  <div class="faq_letter">A:</div><textarea class="faqs_box" rows="3"></textarea>
  <div class="delete_link"><%= link_to("delete", "#delete", :class => "delete-invite") %></div>
  <br/>
</div>

<div class="faq_box">
  <div class="faq_letter">Q:</div><textarea class="faqs_box single_line" rows="1"></textarea><button type="button" class="btn paperclip"></button>
  <div class="faq_letter">A:</div><textarea class="faqs_box" rows="3"></textarea>
  <div class="delete_link"><%= link_to("delete", "#delete", :class => "delete-invite") %></div>
  <br/>
</div>