<div id="UserComment" style="float: left;">
  <%= form_for @post, :url => user_posts_path(@user),:html => {:multipart => true, :method => 'POST'},:remote => true do |f| %>
    <table>
      <tr>
        <td><%= f.text_field :body, :placeholder => "Compose Post Here.." %>
          <%= validation_error(@post.errors['body'])%></td>
      </tr>
      <tr>
        <td valign="bottom"><%= f.submit "Post", :class => 'btn'%></td>
      </tr>
    </table>
  <% end %>
</div>